<h1>Editing farm</h1>

<%= form_for(@farm) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @farm %> |
<%= link_to 'Back', farms_path %>