<div id="" class="grid_8 ">

  <p style="color: green"><%= flash[:notice] %></p>

<div class="box_header"><h5>In Process Pickups (not accepting orders):</h5></div>
<table class="box_table">
<% @pickups_inprogress.each do |p|%>
    <%= render :partial => 'pickup_for_farm_list', :locals => {:p => p} %>
<% end %>
</table>

<div class="box_header"><h5>Open Pickups (currently accepting orders):</h5></div>
<table class="box_table">
<% @pickups_open.each do |p|%>
    <%= render :partial => 'pickup_for_farm_list', :locals => {:p => p} %>
<% end %>
</table>

<div class="box_header"><h5>Not Yet Open Pickups:</h5></div>
<table class="box_table">
<% @pickups_notyetopen.each do |p|%>
    <%= render :partial => 'pickup_for_farm_list', :locals => {:p => p} %>
<% end %>
</table>

<div class="box_header"><h5>Archived Pickups:</h5></div>
<table class="box_table">
<% @pickups_archived.each do |p|%>
    <%= render :partial => 'pickup_for_farm_list', :locals => {:p => p} %>
<% end %>
</table>


</div>

<div class="grid_4">
  <div class="box_header"><h5>Manage Farm</h5></div>
    <div class="box_content">
      <p>
        <%= link_to "Schedule new Pickup", new_pickup_path(:farm_id => @farm.id) %><br/>
        <%= link_to "View / Manage Products", products_path(:farm_id => @farm.id) %><br/>
        <%= link_to "View / Manage Members", users_path(:farm_id => @farm.id) %><br/>
        <%= link_to "View Combined Order Summary" %>
      </p>
  </div>

</div>