<div id="" class="nav container_12">
    <%= link_to "< Farm List", farms_path %>
    <div class="nav_divider"/>
</div>

<div id="" class="grid_8 alpha">

  <p style="color: green"><%= flash[:notice] %></p>

  <div class="page_header"><h1><%= "#{@farm.name} - Home" %></h1></div>
  <h2 class="deliveries_header">deliveries: <span class="header_link"><%= link_to "add new delivery", new_delivery_path(:farm_id => @farm.id) %></span></h2>


  <div class="box_container">
  <div class="box_header"><h4>Finalized deliveries (ready for delivery!):</h4></div>
  <% @deliveries_finalized.each do |p|%>
      <%= render :partial => 'delivery_for_farm_list', :locals => {:p => p} %>
  <% end %>
  </div>

  <div class="box_container">
  <div class="box_header"><h4>In Progress deliveries (not accepting orders):</h4></div>
  <% @deliveries_inprogress.each do |p|%>
      <%= render :partial => 'delivery_for_farm_list', :locals => {:p => p} %>
  <% end %>
  </div>

  <div class="box_container">
  <div class="box_header"><h4>Open deliveries (currently accepting orders):</h4></div>
  <% @deliveries_open.each do |p|%>
      <%= render :partial => 'delivery_for_farm_list', :locals => {:p => p} %>
  <% end %>
  </div>

  <div class="box_container">
  <div class="box_header"><h4>Not Yet Open deliveries:</h4></div>
  <% @deliveries_notyetopen.each do |p|%>
      <%= render :partial => 'delivery_for_farm_list', :locals => {:p => p} %>
  <% end %>
  </div>

  <div class="box_container">
  <div class="box_header"><h4>Archived deliveries:</h4></div>
  <% @deliveries_archived.each do |p|%>
      <%= render :partial => 'delivery_for_farm_list', :locals => {:p => p} %>
  <% end %>
  </div>


</div>

<div class="grid_4 omega">
  <div class="box_container">
    <div class="box_header"><h4>Manage Farm</h4></div>
      <div class="box_content">
        <p>
          <%= link_to "Schedule new Delivery", new_delivery_path(:farm_id => @farm.id) %><br/>
          <%= link_to "View / Manage Products", products_path(:farm_id => @farm.id) %><br/>
          <%= link_to "View / Manage Members", members_path(:farm_id => @farm.id) %><br/>
          <%= link_to "View / Manage Locations", locations_path(:farm_id => @farm.id)%><br/>
          <%= link_to "View In Progress Summary" %>
        </p>
    </div>
  </div>

</div>