<div class="grid_12">
  <h2 id="page-heading"><%= @farm.name %> snippets</h2>


<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Identifier</th>
    <th>Farm</th>
  </tr>

<% @snippets.each do |snippet| %>
  <tr>
    <td><%=h snippet.title %></td>
    <td><%=h truncate(snippet.body, 40, "...") %></td>
    <td><%=h snippet.identifier %></td>
    <td><%=h snippet.farm_id %></td>
    <td><%= link_to 'Show', snippet_path(snippet,:farm_id => @farm.id) %></td>
    <td><%= link_to 'Edit', edit_snippet_path(snippet,:farm_id => @farm.id) %></td>
    <td><%= link_to 'Destroy', {:id=>snippet.id, :farm_id => @farm.id, :action => "destroy"},
                    :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<ul class="menu">
  <li><%= link_to 'New snippet', new_snippet_path(:farm_id => @farm.id) %></li>
</ul>
</div>