<div>

  <h3><%= link_to "#{pickup.name} - #{pickup.date}", pickup %></h3>
  <p><%= "status: #{pickup.status}" %><br/>
  <%= "location: #{pickup.location}" %><br/>
  <%= "host: #{pickup.host}"%><br/>
  <%= "orders: #{pickup.orders.size}"%><br/>
  <%= "estimated total: #{number_to_currency pickup.estimated_total}"%>


  </p>

  
</div>

