<div id="" class="grid_8 ">

<p><%= link_to "< Back to Farm", @farm %></p>

<p style="color: green"><%= flash[:notice] %></p>


<h2><%= "Pickup: #{@pickup.name}" %><br/>
<%= "#{@pickup.pretty_date}" %></h2>
<h5>Current Status: <%= "#{@pickup.status.upcase}"%></h5>




<% if @pickup.description != nil %>
<p>
  <b>Description:</b>
  <%=h @pickup.description %>
</p>
<% end %>

<% if @pickup.notes != nil %>
<p>
  <b>Notes:</b>
  <%=h @pickup.notes %>
</p>
<% end %>

<div class="box_header"><h4>Orders: <%= link_to "(add order)", new_order_path(:farm_id => @farm.id, :as_admin => true, :pickup_id => @pickup.id)%></h4></div>


<table class="simple">
  <tr class="hed">
    <th>Name</th>
    <th>Items (num)</th>
    <th><%= (@pickup.orders.first && @pickup.orders.first.finalized_total) ? "Finalized Total" : "Estimated Total" %></th>
    <th>Balance</th>
    <th>Joined</th>
  </tr>

  <% @pickup.orders.each do |o|%>
      <%= render :partial => 'orders/order_mini', :locals => { :o => o} %>
  <% end %>

</table>


<div class="box_header"><h4>Stock Items:</h4></div>
<table class="simple">
  <tr class="hed">
    <th>Name</th>
    <th>Ordered</th>
    <th>Available</th>
    <th>Remaining</th>
  </tr>
    <% @pickup.stock_items.each do |s|%>
      <tr>
          <td><%= s.product_name %></td>
          <td><%= s.quantity_ordered %></td>
          <td><%= s.quantity_available %></td>
          <td><%= s.quantity_remaining %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="grid_4">
  <p></p>
  <div class="box_header"><h4>Pickup Details: <%= link_to "(edit)", edit_pickup_path(@pickup, :farm_id => @farm.id)%></h4></div>
    <div class="box_content">
      <p>
        <b>Location:</b>          <%=h @pickup.location %> <%= link_to "(map)", @pickup.map_link, :target => "_blank"%><br/>
        <b>Host:</b>              <%=h @pickup.host %><br/>
        <b>Orders open at:</b>    <%=h @pickup.formatted_opening_at %><br/>
        <b>Orders close at:</b>   <%=h @pickup.formatted_closing_at %><br/>
        <b>Current total:</b>
          <% if @pickup.finalized_total > 0 %>
            <%=h "#{number_to_currency @pickup.finalized_total}" %> (finalized)<br/>
          <% else %>
            <%=h "#{number_to_currency @pickup.estimated_total}" %> (estimated)<br/>
          <% end %>
      </p>
    </div>

  <p></p>
  <div class="box_header"><h4>Manage Pickup:</h4></div>
    <div class="box_content">
      <p>
        <%= link_to "View Worksheet", :controller => 'pickups', :action => 'show_sheet', :id => @pickup.id, :farm_id => @farm.id %><br/>
        <%= link_to "Enter Finalized Totals", :controller => 'pickups', :action => 'edit_order_totals', :id => @pickup.id, :farm_id => @farm.id %><br/>

        <%= link_to "Export as CSV", pickup_path(@pickup, :csv, :farm_id => @farm.id) %><br/>
        <%= link_to "Export as TSV", pickup_path(@pickup, :csv, :farm_id => @farm.id, :tabs => true) %> (copy/paste to gDocs)<br/>
        <%= link_to "Export Labels", pickup_path(@pickup, :pdf, :farm_id => @farm.id) %> (PDF)<br/><br/>
        <%= link_to 'Delete Pickup', { :id => @pickup.id,
                                       :farm_id => @farm.id},
                                       :confirm => 'This action will delete all orders associated with this pickup.  Are you sure you want to continue?',
                                       :method => :delete %>

      </p>
  </div>

</div>

