<h1><%= "Pickup: #{@pickup.name}" %><br/>
<%= "#{@pickup.pretty_date}" %></h1>
<h3>Status: <%= "#{@pickup.status.upcase}"%></h3>

<p>
  <b>Location:</b>          <%=h @pickup.location %> <%= link_to "(map)", "http://mapof.it/#{@pickup.location}", :target => "_blank"%><br/>
  <b>Host:</b>              <%=h @pickup.host %><br/>
  <b>Orders open at:</b>    <%=h @pickup.formatted_opening_at %><br/>
  <b>Orders close at:</b>   <%=h @pickup.formatted_closing_at %><br/>
</p>


<% if @pickup.description != nil %>
<p>
  <b>Description:</b>
  <%=h @pickup.description %>
</p>
<% end %>

<% if @pickup.notes != nil %>
<p>
  <b>Notes:</b>
  <%=h @pickup.notes %>
</p>
<% end %>

<h2>Orders:</h2>

<p>
<% @pickup.orders.each do |o|%>
      <%= link_to "#{o.member.first_name} #{o.member.last_name} - #{o.order_items.size} items in order", order_path(o)%><br/>
<% end %>
</p>


<h2><%= link_to "Stock Items:", stock_items_path(:pickup_id => @pickup.id)%></h2>


<p>
<% @pickup.stock_items.each do |s|%>
      <%= link_to "#{s.product.name}", stock_item_path(s)%><br/>
<% end %>
</p>


<%= link_to 'Edit', edit_pickup_path(@pickup) %> |
<%= link_to 'Back', pickups_path %>