<h1><%= "Pickup: #{@pickup.name}" %><br/>
<%= "#{@pickup.pretty_date}" %></h1>
<h3>Status: <%= "#{@pickup.status.upcase}"%></h3>

<p>
  <b>Location:</b>          <%=h @pickup.location %> <%= link_to "(map)", "http://mapof.it/#{@pickup.location}", :target => "_blank"%><br/>
  <b>Host:</b>              <%=h @pickup.host %><br/>
  <b>Orders open at:</b>    <%=h @pickup.formatted_opening_at %><br/>
  <b>Orders close at:</b>   <%=h @pickup.formatted_closing_at %><br/>
</p>


<p>
  <b>Description:</b>
  <%=h @pickup.description %>
</p>

<p>
  <b>Notes:</b>
  <%=h @pickup.notes %>
</p>



<h2>Stock Items:</h2>


<p>
<% @pickup.stock_items.each do |s|%>
      <%= link_to "#{s.product.name}", stock_item_path(s)%><br/>
<% end %>
</p>


<%= link_to 'Edit', edit_pickup_path(@pickup) %> |
<%= link_to 'Back', pickups_path %>