<div id="" class="grid_12 ">
  <h2 id="page-heading">Update your Member information</h2>    

<p style="color: green"><%= flash[:notice] %></p>

<div class="grid_6">

  <% form_for(@user) do |f| %>
    <%= f.error_messages %>

    <fieldset class="login">
      <legend>Member Info</legend>

    <p>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </p>

    <% f.fields_for :member do |member_fields| %>

      <p>
        <%= member_fields.label :first_name %>
        <%= member_fields.text_field :first_name, :size => "20" %>
      </p>

      <p>
        <%= member_fields.label :last_name %>
        <%= member_fields.text_field :last_name, :size => "20" %>
      </p>

      <p>
        <i>If your Paypal account is under a different email address, enter it here:</i>
        <%= member_fields.label :alternate_email %>
        <%= member_fields.text_field :alternate_email %>
      </p>

      <p>
        <%= member_fields.label :address %>
        <%= member_fields.text_area :address, :size => "30x3" %>
      </p>

      <p>
        <%= member_fields.label :phone_number %>
        <%= member_fields.text_field :phone_number %>
      </p>

    <% end %>

    <i>Leave password blank to remain the same</i>

    <p>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </p>

    <%= f.submit 'Update', :class => "login button" %>
    <%= link_to ' Cancel', @user %>

    </fieldset>

  <% end %>
</div>

</div>