
<div id="" class="grid_8 ">

  <p style="color: green"><%= flash[:notice] %></p>


  <h5>Welcome, <%= "#{@user.member.first_name} #{@user.member.last_name}!"%></h5>
  <% if @finalized_orders.size >= 1
      next_order = @finalized_orders.first %>
    <p>Your upcoming order (<%= "#{next_order.pickup.pretty_date} - #{next_order.pickup.name}" %>) has been finalized with a total
    of <%= number_to_currency next_order.finalized_total %>.  Please bring a check or top up your account using
    PayPal if your current balance will not cover the total.</p>


  <% end %>

  <div class="box_header"><h5>Finalized Orders - Pickup soon!:</h5></div>
  <table class="box_table">
    <% @finalized_orders.each do |order| %>
      <tr>
        <td><%= order.pickup.date %></td>
        <td><%= order.pickup.name %></td>
        <td><%= "total:  #{number_to_currency order.finalized_total}" %></td>
        <td><%= link_to "view order", order_path(order) %></td>
      </tr>
    <% end %>
  </table>

  <div class="box_header"><h5>Orders that are currently Processing:</h5></div>
  <table class="box_table">
    <% @inprogress_orders.each do |order| %>
      <tr>
        <td><%= order.pickup.date %></td>
        <td><%= order.pickup.farm.name %></td>
        <td><%= order.pickup.name %></td>
        <td><%= order.pickup.status %></td>
        <td><%= link_to "view order", order_path(order) %></td>
      </tr>
    <% end %>
  </table>

  <div class="box_header"><h5>Your current open orders:</h5></div>
  <table class="box_table">
    <% @open_orders.each do |order| %>
      <tr>
        <td><%= order.pickup.date %></td>
        <td><%= order.pickup.farm.name %></td>
        <td><%= order.pickup.name %></td>
        <td><%= order.pickup.status %></td>
        <td><%= link_to "view/edit order", order_path(order) %></td>
      </tr>
    <% end %>
  </table>

  <div class="box_header"><h5>Pickups currently open for orders:</h5></div>
  <table class="box_table">
    <%
      @open_pickups.each do |pickup|
    %>
    <tr>
      <td><%= pickup.date %></td>
      <td><%= pickup.farm.name %></td>
      <td><%= link_to pickup.name, new_order_path(:pickup_id => pickup.id)%></td>
      <td><%= pickup.status %></td>
      <td><%= link_to "new order", new_order_path(:pickup_id => pickup.id) %></td>
    </tr>
    <% end %>
  </ul>
  </table>


</div>

<div id="sidebar" class="grid_4">
  <p></p>
  <div class="box_header">
    <h5>Your Account Balance:</h5>
  </div>
  <div class="box_content">
    Your balance here
  </div>
</div>


  

