<% title "#{@farm.name} : #{@user.member.first_name} #{@user.member.last_name}"%>


<div class="grid_12">
  <h2 id="page-heading">Welcome, <%= "#{@user.member.first_name} #{@user.member.last_name}!"%></h2>  
</div>


<div class="grid_8 ">

  <p style="color: green"><%= flash[:notice] %></p>

  <%= RedCloth.new(@welcome_template.render('member' => @user.member)).to_html  %>

  <h5>Welcome to the new <%= @farm.name %> CSA system!</h5>
  <p>
    We're just getting started with this, so there might be the odd issue; bear with
    us as we work out the kinks and improve it as we go.  Use the feedback link
    liberally for any comments and suggestions!
  </p>

  <% if @farm.name == "Clark Summit Farm" %>
  <hr/>
  <h4>Ordering notes:</h4>
  <p>The order form shows availability at the time you load the page, so if you are hoping to get items that are in high demand, I suggest placing the order for those first, then editing the order through the edit link (don't click the back button on your browser) to add the rest of your desired items. </p>
  <p>The order minimum is $40 but I'm removing the requirement initially so that you don't get errors when trying to save before your order is fully complete. </p>
  <hr/>
  <% end %>

  <p>
    Please ensure your member information is correct and complete, especially if you pay with PayPal
    under an alternate email address.  Click your name in
    the top right corner or just click
    <%= link_to "here", edit_user_path(:id => @user.id, :farm_id => @farm.id)%>.
  </p>

  

  <% if @finalized_orders.size >= 1
      next_order = @finalized_orders.first %>


    <div class="box">

      <h2>Upcoming Pickup Details:</h2>
      <div class="block">
    <p>Your upcoming order (<%= "#{next_order.delivery.pretty_date} - #{next_order.delivery.name}" %>) has been finalized with a total
    of <b><%= number_to_currency next_order.finalized_total %></b>.  Please bring a check or top up your account using
    PayPal if your current balance will not cover the total.</p>


        <table>
          <tr>
            <th>Date/Time:</th>
            <td><%= next_order.delivery.pretty_date %>, 5-7pm</td>
          </tr>
          <tr>
            <th>Location:</th>
            <td><%= next_order.location.address %>  <%= link_to "(map)", next_order.location.map_link, :target => "_blank"%></td>
          </tr>
          <tr>
            <th>Host:</th>
            <td><%= next_order.location.host_name %></td>
          </tr>
          <tr>
            <th>Host Email:</th>
            <td><%= mail_to next_order.location.host_email, next_order.location.host_email %></td>
          </tr>
          <tr>
            <th>Host Phone:</th>
            <td><%= next_order.location.host_phone %></td>
          </tr>
        </table>
      </div>
    </div>

  <% end %>

  <% if @open_deliveries.size == 0 %>
    <div>
      <h5>There are currently no <%= @farm.name %> deliveries open for orders.</h5>
    </div>
  <% end %>

  <% if @finalized_orders.size > 0 %>
    <h4>Finalized orders</h4>
    <i>Ready for pickup very soon</i>

    <table class="box_table">
      <% @finalized_orders.each do |order| %>
        <tr>
          <td><%= "#{order.delivery.date.strftime('%d')} #{order.delivery.date.strftime('%b').upcase}" %></td>
          <td><%= order.delivery.name %></td>
          <td><%= "total:  #{number_to_currency order.finalized_total}" %></td>
          <td><%= link_to "view order", order_path(:id => order, :farm_id => @farm.id) %></td>
        </tr>
      <% end %>
    </table>
    <br/>
  <% end %>

  <% if @inprogress_orders.size > 0 %>  
    <h4>You have <%= pluralize @inprogress_orders.size, "order" %> in progress:</h4>
    <i>We're getting orders ready for the upcoming pickup.  You can view but no longer edit.</i>    
    <table>
      <% @inprogress_orders.each do |order| %>
        <tr>
          <td><%= "#{order.delivery.date.strftime('%d')} #{order.delivery.date.strftime('%b').upcase}" %></td>
          <td><%= order.delivery.name %></td>
          <td><%= order.delivery.pretty_status %></td>
          <td><%= link_to "view order", order_path(:id => order, :farm_id => @farm.id) %></td>
        </tr>
      <% end %>
    </table>
    <br/>
  <% end %>

  <% if @open_orders.size > 0 %>    
    <h4>You have <%= pluralize @open_orders.size, "open order" %>:</h4>
    <i>You can edit open orders until their closing date</i>
    <table>
      <% @open_orders.each do |order| %>
        <tr>
          <td><%= "#{order.delivery.date.strftime('%d')} #{order.delivery.date.strftime('%b').upcase}" %></td>
          <td><%= order.delivery.name %></td>
          <td>closes: <%= order.delivery.closing_at.strftime('%e %b %lpm') %></td>
          <td><%= link_to "view/edit order", order_path(:id => order, :farm_id => @farm.id) %></td>
        </tr>
      <% end %>
    </table>
    <br/>    
  <% end %>

  <% if @open_deliveries.size > 0 %>  
    <h4>You can place orders for these upcoming pickups:</h4>
    <table>
      <%
        @open_deliveries.each do |delivery|
      %>
      <tr>
        <td><%= "#{delivery.date.strftime('%d')} #{delivery.date.strftime('%b').upcase}" %></td>
        <td><%= link_to delivery.name, new_order_path(:delivery_id => delivery.id, :farm_id => delivery.farm.id) %></td>
        <td><%= delivery.pretty_status %></td>
        <td><%= link_to "new order", new_order_path(:delivery_id => delivery.id, :farm_id => delivery.farm.id) %></td>
      </tr>
      <% end %>
    </table>
    <br/>
  <% end %>

  <% if @archived_orders.size > 0 %>    
    <h4>Past orders:</h4>
    <table>
      <% @archived_orders.each do |order| %>
        <tr>
          <td><%= "#{order.delivery.date.strftime('%d')} #{order.delivery.date.strftime('%b').upcase}" %></td>
          <td><%= order.delivery.name %></td>
          <td><%= link_to "view archived order", order_path(:id => order, :farm_id => @farm.id) %></td>
        </tr>
      <% end %>
    </table>
    <br/>
  <% end %>


</div>

<div class="grid_4">
  <div class="box">
    <h2></h2>
    <div class="block">
      <h5>Your Account Balance:</h5>
      <h4><%= number_to_currency @subscription.current_balance %></h4>
      <ul class="menu">
        <li><%= link_to "Balance Details", transactions_path(:farm_id => @farm.id, :member_id => @user.member.id)%></li>
      </ul>
    </div>
  </div>
</div>




  

