<h1><%= @farm.name %></h1>
<h6><a href="">(change)</a></h6>

<h1>Welcome, <%= "#{@user.first_name}!"%></h1>

<h3>Your current orders:</h3>
<% current_orders = Order.find_all_by_user_id(@user.id) %>
<table class="order_form">
  <tr class="hed">
    <th>Date</th>
    <th>Farm</th>
    <th>Name</th>
    <th>Status</th>
    <th></th>
  </tr>

 <% current_orders.each do |order| %>
    <% if order.pickup.status == 'open' || order.pickup.status == 'inprogress'%>

      <tr>
        <td><%= order.pickup.date %></td>
        <td><%= order.pickup.farm.name %></td>
        <td><%= order.pickup.name %></td>
        <td><%= order.pickup.status %></td>
        <td><%= link_to "edit order", edit_order_path(order) %></td>
      </tr>

    <% end %>
  <% end %>

</table>

<h5>Pickups currently open for orders:</h5>
<ul>
  <%
    open_pickups = Pickup.find_all_by_farm_id_and_status(@farm.id, "open")
    open_pickups.each do |pickup|
  %>
  <li><%= link_to "#{pickup.name} - #{pickup.date}", new_order_path(:pickup_id => pickup.id) %></li>
  <% end %>
</ul>







  

