<script type="text/javascript" charset="utf-8">
  $(function(){
    $('#orderlist').dataTable( {
  "bPaginate": false,
  "bLengthChange": false,
  "bFilter": true,
  "bSort": false,
  "bInfo": false,
  "bAutoWidth": false } );
  });
</script>

<div class="grid_12">
  <h2 id="page-heading">Delivery: <%= "#{@delivery.name} - #{@delivery.pretty_date}"%></h2>
</div>


  <div id="" class="grid_8">


    <p style="color: green"><%= flash[:notice] %></p>

    <h5>Current Status: <%= "#{@delivery.pretty_status.upcase}"%></h5>

    <% if @delivery.description != nil %>
    <p>
      <b>Description:</b>
      <%=h @delivery.description %>
    </p>
    <% end %>

    <% if @delivery.notes != nil %>
    <p>
      <b>Notes:</b>
      <%=h @delivery.notes %>
    </p>
    <% end %>

    <h4>Orders: <%= link_to "(add order)", new_order_path(:farm_id => @farm.id, :as_admin => true, :delivery_id => @delivery.id)%></h4>


    <table id="orderlist">
      <thead>
        <tr>
          <th>Name (*notes)</th>
          <th>Items (num)</th>
          <th><%= (@delivery.orders.first && @delivery.orders.first.finalized_total) ? "Finalized Total" : "Estimated Total" %></th>
          <th>Balance</th>
        </tr>
      </thead>

      <tbody>
      <% @delivery.orders.each do |o|%>
          <%= render :partial => 'orders/order_mini', :locals => { :o => o} %>
      <% end %>
      </tbody>

    </table>


    <h4>Stock Items:</h4>
    <table class="simple">
      <tr class="hed">
        <th>Name</th>
        <th>Ordered</th>
        <th>Available</th>
        <th>Remaining</th>
      </tr>
        <% @delivery.stock_items.with_quantity.each do |s|%>
          <tr>
              <td><%= s.product_name %></td>
              <td><%= s.quantity_ordered %></td>
              <td><%= s.quantity_available %></td>
              <td><%= s.quantity_remaining %></td>
          </tr>
        <% end %>
      </table>

  </div><!-- end grid 8 -->

  <div class="grid_4">

    <div class="box">
      <h2>Delivery Details</h2>
      <div class="block">
        <ul class="menu">
          <li><%= link_to "Edit Delivery", edit_delivery_path(@delivery, :farm_id => @farm.id)%></li>
        </ul>
        <h5><%= pluralize @delivery.locations.size, "Location" %>:</h5>
          <ul>
          <% @delivery.locations.each do |location| %>
            <li><%= "#{location.name}, #{location.host_name}" %></li>
          <% end %>
          </ul>

          <b>Orders open at:</b>    <%=h @delivery.formatted_opening_at %><br/>
          <b>Orders close at:</b>   <%=h @delivery.formatted_closing_at %><br/>
          <b>Current total:</b>
            <% if @delivery.finalized_total > 0 %>
              <%=h "#{number_to_currency @delivery.finalized_total}" %> (finalized)<br/>
            <% else %>
              <%=h "#{number_to_currency @delivery.estimated_total}" %> (estimated max)<br/>
            <% end %>
        </div>
    </div><!-- end details box -->

    <div class="box">
      <h2>Manage Delivery</h2>
      <div class="block">
        <ul class="menu">
          <li><%= link_to "View Worksheet", :controller => 'deliveries', :action => 'show_sheet', :id => @delivery.id, :farm_id => @farm.id %></li>
          <li><%= link_to "Enter Finalized Totals", :controller => 'deliveries', :action => 'edit_order_totals', :id => @delivery.id, :farm_id => @farm.id %></li>
          <% if @delivery.finalized_totals && !@delivery.deductions_complete %>
            <li><%= link_to "Deduct Member Bag Totals", :controller => 'deliveries', :action => 'preview_deductions', :id => @delivery.id, :farm_id => @farm.id %></li>
          <% end %>
          <li><%= link_to "Public Summary", :controller => 'deliveries', :action => "public_summary", :id => @delivery.id, :farm_id => @farm.id %></li>
          <li><%= link_to "Export as CSV", delivery_path(@delivery, :csv, :farm_id => @farm.id) %></li>
          <li><%= link_to "Export as TSV", delivery_path(@delivery, :csv, :farm_id => @farm.id, :tabs => true) %></li>
          <li><%= link_to "Export as XLS", delivery_path(@delivery, :xls, :farm_id => @farm.id) %></li>
          <li><%= link_to "Export Labels", delivery_path(@delivery, :pdf, :farm_id => @farm.id) %></li>
          <li><%= link_to 'Delete Delivery', { :id => @delivery.id,
                                         :farm_id => @farm.id},
                                         :confirm => 'This action will delete all orders associated with this delivery.  Are you sure you want to continue?',
                                         :method => :delete %></li>



        </ul>
      </div>
    </div><!-- end delivery box -->


  </div><!-- end grid 4 -->


