<script>
  $(function(){
    
  });
</script>


<p>
  <b><%= "#{@delivery.name} - #{@delivery.pretty_date}"%></b><br/>
  <b>Orders open at:</b>    <%=h @delivery.formatted_opening_at %><br/>
  <b>Orders close at:</b>   <%=h @delivery.formatted_closing_at %><br/>

  <% if @member %>
    <b>Order For:</b>         <%=h "#{@member.first_name} #{@member.last_name}" %><br/>
  <% end %>
</p>


<% form_for @order do |f| %>
  <%= hidden_field_tag :delivery_id, @delivery.id %>
  <%= hidden_field_tag :farm_id, @farm.id %>
  <%= f.hidden_field :delivery_id, :value => @delivery.id  %>

  <%= f.error_messages %>

  <p>
    Pickup Location:<br/>
    <% if @delivery.locations.size > 1 %>
      <%= f.select :location_id, @delivery.locations.map {|location| [location.name, location.id]} %>
    <% else %>
      <%= @delivery.locations.first.name %>
    <% end %>
  </p>

  <% if @members %>
    <p>
      Member: <br/>
      <%= select("order", "member_id", @members.map {|m| [ "#{m.first_name} #{m.last_name}", m.id ]})%>
    </p>
  <% else %>
    <%= f.hidden_field :member_id, :value => @member.id %>
  <% end %>

  <%= render :partial => 'order_items_fields', :locals => {:f => f} %>

  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes, :size => "50x5" %>
  </p>
  <p>
    <%= f.submit button_label %>
  </p>
<% end %>