<table class="order_form">
  <tr class="hed">
    <th>Quantity</th>
    <th>Name</th>
    <th>Description</th>
    <th>Pricing details</th>
    <th>Price *estimated maximum</th>
    <th>Total number available</th>
    <th>Max per member</th>
    <th>Quantity remaining</th>
    <th>Sold out?</th>
  </tr>


  <% @order.order_items.each do |item| %>
      <tr <%= "class='zero_quantity'" if item.stock_item.quantity_available.zero? %>>
        <% f.fields_for :order_items, item do |builder| %>
            <%= builder.hidden_field :stock_item_id, :value => item.stock_item.id %>
            <td>
              <% if item.stock_item.available_per_member >= 1 %>
                <%= builder.select :quantity, 0..item.stock_item.available_per_member %>
              <% else %>
                <%= builder.select :quantity, 0..item.stock_item.available_per_member, :disabled => "disabled" %>
              <% end %>
            </td>
        <% end %>

        <td><%= item.stock_item.product_name %></td>
        <td><%= item.stock_item.product_description %></td>
        <td><%= item.stock_item.product_price_code %></td>
        <td><%= number_to_currency item.stock_item.product_price %><%= "*" if item.stock_item.product_estimated %></td>
        <td><%= item.stock_item.quantity_available %></td>
        <td><%= item.stock_item.max_quantity_per_member %></td>
        <td><%= item.stock_item.quantity_remaining %></td>
        <td><%= item.stock_item.sold_out? %></td>
      </tr>

  <% end %>


</table>