<h1>Listing orders</h1>

<table>
  <tr>
    <th>Member</th>
    <th>Pickup</th>
    <th>Notes</th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%=h order.member.first_name %></td>
    <td><%=h order.pickup.name %></td>
    <td><%=h order.notes %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New order', new_order_path %>