<div id="" class="grid_12 ">
<p style="color: green"><%= flash[:notice] %></p>


<p>
  <b>Member:</b>
  <%= link_to "#{@order.user.first_name} #{@order.user.last_name}", user_path(@order.user) %>

</p>

<p>
  <b>Pickup:</b>
  <%= link_to "#{@order.pickup.name} - #{@order.pickup.pretty_date}", pickup_path(@order.pickup) %>
</p>

<p>
  <b>Notes:</b>
  <%=h @order.notes %>
</p>

<p>
  <b>order items:</b><br/>
<% @order.order_items.each do |item| %>
  <%= link_to "#{item.stock_item.product.name}", stock_item_path(item.stock_item) %><%= ", quantity: #{item.quantity}"%><br/>  

<% end %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', root_path %>
</div>