<div id="" class="grid_12 ">
  <h2 id="page-heading">Order Details:<br/><%= "#{@order.member.last_name}, #{@order.member.first_name} - #{@order.delivery.name} - #{@order.delivery.pretty_date}"%></h2>

<p style="color: green"><%= flash[:notice] %></p>


<p>
  <% if current_user.has_role?(:admin) %>
    <ul class="menu">
      <li><%= link_to "#{@order.member.first_name} #{@order.member.last_name} - Member Details", member_path(@order.member, :farm_id => @farm.id)%></li>
    </ul>
  <% end %>
</p>

  <div>
    <h4>Status: <%= @order.delivery.pretty_status.upcase %></h4>
    <% if @order.delivery.status == 'open' %>
      Closes <%= @order.delivery.closing_at.strftime('%e %b %lpm') %>
    <% end %>
  </div>
  <br/>
  <div class="box">
    <h2>Order Details</h2>
    <div class="block">
      <ul>
        <% @order.order_items.with_quantity.each do |item| %>
          <li><%= "#{item.quantity} X "%><%= "#{item.stock_item.product_name} (#{item.stock_item.product_price_code})" %></li>
        <% end %>
      </ul>
      <% if @order.notes && @order.notes != '' %>
      <p>
        <b>Order Notes:</b>
        <%=h @order.notes %>
      </p>
      <% end %>
      <p>
        <b>Estimated Total:</b> <%= number_to_currency @order.estimated_total %><br/>
        <b>Finalized Total:</b> <%= @order.finalized_total ? number_to_currency(@order.finalized_total) : "not yet finalized" %>
      </p>

      <% if @order.delivery.status == "open" || current_user.has_role?(:admin) %>
        <ul class="menu">
          <li><%= link_to 'Edit Order', edit_order_path(:id => @order, :farm_id => @farm.id) %></li>
          <li><%= link_to 'Delete Order', {:action => "destroy", :id => @order.id, :farm_id => @farm.id}, :confirm => 'Are you sure you want to cancel this order?', :method => :delete %></li>
        </ul>
      <% end %>

    </div>
  </div>

  <div class="box">
    <h2>Pickup Details</h2>
    <div class="block">
      <table>
        <tr>
          <th>Date:</th>
          <td><%= "#{@order.delivery.pretty_date}, #{@order.location.time_window}"%></td>
        </tr>
        <tr>
          <th>Name:</th>
          <td><%= "#{@order.delivery.name}"%></td>
        </tr>
        <tr>
          <th>Your Pickup Location:</th>
          <td><%= @order.location.name %></td>
        </tr>
        <tr>
          <th>Address:</th>
          <td><%= @order.location.address %>  <%= link_to "(map)", @order.location.map_link, :target => "_blank" %></td>
        </tr>
        <tr>
          <th>Host:</th>
          <td><%= @order.location.host_name %></td>
        </tr>
        <tr>
          <th>Host Email:</th>
          <td><%= @order.location.host_email %></td>
        </tr>
        <tr>
          <th>Host Phone:</th>
          <td><%= @order.location.host_phone %></td>
        </tr>
        <tr>
          <th>Pickup Notes:</th>
          <td><%= @order.delivery.notes %></td>
        </tr>
      </table>
    </div>
  </div>

  <% if current_user.has_role?(:member) %>
  <ul class="menu">
  <li><%= link_to "Return to Home", root_path %></li>
  </ul>
  <% end %>


</div>