<div id="" class="grid_12 ">
<p style="color: green"><%= flash[:notice] %></p>


<p>
  <b>Member:</b>
  <%= "#{@order.user.first_name} #{@order.user.last_name}" %>

</p>

<p>
  <b>Pickup:</b>
  <%= "#{@order.pickup.name} - #{@order.pickup.pretty_date}" %>
</p>

<p>
  <b>Notes:</b>
  <%=h @order.notes %>
</p>

<p>
  <b>order items:</b><br/>
<% @order.order_items.each do |item| %>
  <%= "#{item.stock_item.product.name}" %><%= ", quantity: #{item.quantity}"%><br/>  

<% end %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', root_path %>
</div>