<div id="" class="grid_12 ">
<p style="color: green"><%= flash[:notice] %></p>


<p>
  <b>Order For:</b>
  <% if current_user.has_role?(:admin) %>
    <%= link_to "#{@order.member.first_name} #{@order.member.last_name}", member_path(@order.member, :farm_id => @farm.id)%>
  <% else %>
    <%= "#{@order.member.first_name} #{@order.member.last_name}" %>
  <% end %>
</p>

<p>
  <b>delivery:</b>
  <%= "#{@order.delivery.name} - #{@order.delivery.pretty_date}" %><br/>

  <b>Pickup Location:</b> <%= @order.location.name %><br/>
  <b>Host:</b> <%= @order.location.host_name %><br/>
  <b>Address:</b> <%= @order.location.address %><br/>
  <b>Notes:</b> <%= @order.delivery.notes %><br/>

</p>

<p>
  <b>Order Notes:</b>
  <%=h @order.notes %>
</p>

<p>
  <b>order items:</b><br/>
<% @order.order_items.with_quantity.each do |item| %>
  <%= "#{item.quantity} X "%><%= "#{item.stock_item.product_name} (#{item.stock_item.product_price_code})" %><br/>
<% end %>
</p>

<p>
  <b>Estimated Total:</b> <%= number_to_currency @order.estimated_total %><br/>
  <b>Finalized Total:</b> <%= @order.finalized_total ? number_to_currency(@order.finalized_total) : "not yet finalized" %>
</p>

<% if @order.delivery.status == "open" || current_user.has_role?(:admin) %>
  <%= link_to 'Edit', edit_order_path(:id => @order, :farm_id => @farm.id) %> |
<% end %>
<%= link_to 'Back', root_path %>

<% if current_user.has_role?(:admin) %>
| <%= link_to 'Delete Order', {:action => "destroy", :id => @order.id, :farm_id => @farm.id}, :confirm => 'Are you sure?', :method => :delete %>
<% end %>

</div>