<h1>Editing subscription</h1>

<% form_for(@subscription) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :member_id %><br />
    <%= f.text_field :member_id %>
  </p>
  <p>
    <%= f.label :farm_id %><br />
    <%= f.text_field :farm_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @subscription %> |
<%= link_to 'Back', subscriptions_path %>