<div id="" class="grid_12 ">
  <div>
    <% if current_user.has_role?(:admin) %>    
      <%= link_to "< Back to Member", member_path(:farm_id => @farm.id, :id => @member.id)%>
    <% else %>
      <%= link_to "< Back to Home", root_path(:farm_id => @farm.id)%>    
    <% end %>
    <div class="nav_divider"/>
  </div>

  <p style="color: green"><%= flash[:notice] %></p>

  <h4><%= "#{@member.first_name} #{@member.last_name}"%>'s Balance History</h4>

  <table class="order_form">
    <tr>
      <th>Date</th>
      <th>Debit</th>
      <th>Credit</th>
      <th>Balance</th>
      <th>Description</th>
      <th>Order</th>
    </tr>

  <% @transactions.each do |transaction| %>
    <tr>
      <td><%=h transaction.date %></td>
      <td><% if transaction.debit == true%>
        <span style="color: red"><%=h number_to_currency transaction.amount %></span>
      <% end %></td>
      <td><% if transaction.debit == false%>
        <span style="color: green"><%=h number_to_currency transaction.amount %></span>
      <% end %></td>
      <td><b><%= number_to_currency transaction.balance %></b></td>
      <td><%=h transaction.description %></td>
      <td><% if transaction.order %>
            <%= link_to transaction.order_id, order_path(transaction.order, :farm_id => @farm.id) %>
          <% end %>
      </td>
    </tr>
  <% end %>
  </table>

  <% if current_user.has_role?(:admin) %>
    <%= link_to 'Record a Transaction', new_transaction_path(:farm_id => @farm.id, :member_id => @member.id) %>
  <% end %>

  <% if current_user.has_role?(:member) %>
    <br/>
    <div class="grid_5 alpha">
      <p>
      Note: PayPal payments are tracked manually, and may take a few days to show in your account.
      If you have any questions about your account balance, please contact the CSA manager.
      </p>
      <p>
        <b><%= "#{@farm.name} CSA Manager:" %></b><br/>
        <%= @farm.contact_name %><br/>
        <%= link_to @farm.contact_email, @farm.contact_email %>
      </p>
    </div>
  <% end %>

</div>



