<div id="" class="grid_12 ">
  <p style="color: green"><%= flash[:notice] %></p>

  <h1>Your Balance History</h1>

  <table class="order_form">
    <tr>
      <th>Date</th>
      <th>Amount</th>
      <th>Description</th>
      <th>Order</th>
    </tr>

  <% @transactions.each do |transaction| %>
    <tr>
      <td><%=h transaction.date %></td>
      <td><%= "-" if transaction.debit %><%=h number_to_currency transaction.amount %></td>
      <td><%=h transaction.description %></td>
      <td><% if transaction.order %>
            <%= link_to transaction.order_id, order_path(transaction.order, :farm_id => @farm.id) %>
          <% end %>
      </td>
    </tr>
  <% end %>
  </table>

</div>

<%# link_to 'New transaction', new_transaction_path %>