<div id="" class="grid_12 ">
  <p style="color: green"><%= flash[:notice] %></p>


<h1>New transaction</h1>

<% form_for(@transaction) do |f| %>
  <%= f.error_messages %>
  <%= hidden_field_tag :farm_id, @farm.id %>
  <%= hidden_field_tag :member_id, @member.id %>
  <%= f.hidden_field :subscription_id, :value => @subscription.id %>

  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :amount %><br />
    $<%= f.text_field :amount, :size => 4 %>
    <%= f.select :debit, {"debit" => true, "credit" => false} %>

  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :order_id %><br />
    <%= f.text_field :order_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', transactions_path %>
</div>