<% form_for(@product) do |f| %>
  <%= hidden_field_tag :farm_id, @farm.id %>
  <%= f.hidden_field :farm_id, :value => @farm.id %>

  <%= f.error_messages %>


  <p>
    <%= f.label "Name:  (e.g. 'Chicken, Regular')" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label "Description:  (e.g. 'The best chicken you'll ever eat!')" %><br />
    <%= f.text_area :description, :size => "50x5" %>
  </p>
  <p>
    <%= f.label 'Price Code: (e.g. "3-4lbs, $6.50/lb"), for label use:' %><br />
    <%= f.text_field :price_code, :size => "50x5" %>
  </p>
  <p>
    <%= f.label "Price: either set price or calculated approximate" %><br />
    $<%= f.text_field :price, :size => "5" %>
    <%= f.check_box :estimated %>    
    <%= f.label "Estimated?" %>
  </p>
  <p>
    <%= f.submit button_label %>
  </p>
<% end %>