<% title "Login" %>

<div class="grid_1">&nbsp;</div>
<div class="block grid_5" id="login-forms">
  <p style="color: green"><%= flash[:notice] %></p>  
  <% form_for @user_session do |form| %>

  <fieldset class="login">
    <legend>Login</legend>
    <p class="notice">Login to access your account.</p>

    <%= form.error_messages %>
    
    <p>
      <%= form.label :email, "Email" %>
      <%= form.text_field :email %>
    </p>
    <p>
      <%= form.label :password, "Password" %>
      <%= form.password_field :password %>
    </p>
    <%= form.submit "Login", :class => "login button" %>

    <!--<input class="login button" type="submit" value="Login" />-->
  </fieldset>

  <% end %>

</div>
