<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller_name() %>: <%= controller.action_name %></title>
  <link rel="stylesheet" href="/stylesheets/reset.css" />
  <link rel="stylesheet" href="/stylesheets/text.css" />
  <link rel="stylesheet" href="/stylesheets/960.css" />
  <link rel="stylesheet" href="/stylesheets/eggs.css" />

</head>
<body>

<div class="container_12 topGutter">
   <div class="grid12">
     <div id="user_nav">
       <%= link_to "Register", new_user_path %> |
       <%= link_to "Log in", login_path %>
     </div>
   </div>  
</div>

<div id="header" class="container_12 topSection">

<div id="" class="grid_1 ">
  &nbsp;
</div>

<div id="" class="grid_5 ">
  <h1>Eggs!</h1>
</div>

<div id="" class="grid_5 ">
  &nbsp;
</div>

<div id="" class="grid_1 ">
  &nbsp;
</div>

</div>


<div id="content" class="container_12">

<div id="" class="grid_1 ">
  &nbsp;
</div>

<div id="" class="grid_10 ">
    <p style="color: green"><%= flash[:notice] %></p>
    <%= yield %>
</div>

<div id="" class="grid_1 ">
  &nbsp;
</div>

</div>

<div id="footer" class="container_12">

<div id="" class="grid_1 ">
  &nbsp;
</div>

<div id="" class="grid_5 ">
  &nbsp;
</div>

<div id="" class="grid_5 ">
  &nbsp;
</div>

<div id="" class="grid_1 ">
  &nbsp;
</div>

</div>


</body>
</html>
