
<%= form_for(@member, :html => { :class => 'wufoo'}) do |f| %>
  <%= hidden_field_tag :farm_id, @farm.id %>

  <%= f.error_messages :header_message => "Member signup failed",
                          :message => "You'll need to fix the following fields:",
                          :header_tag => :h4 %>

<ul>


    
    <li>
      <label>First Name</label>
      <div><%= f.text_field :first_name, :size => "20", :class => "field text medium" %></div>
    </li>

    <li>
      <label>Last Name</label>
      <div><%= f.text_field :last_name, :size => "20", :class => "field text medium" %></div>
    </li>

    <li>
      <label>Email Address</label>
      <div><%= f.text_field :email_address, :class => "field text medium" %></div>
    </li>

    <% if @farm.require_deposit %>
    <li>
      <label>How will you be paying your $100 commitment fee?</label>
      <% if @member.new_record? %>
      <div><%= select_tag 'deposit_type', "<option>PayPal</option><option>Check</option><option>N/A (Previous Member)</option>",
                          :class => "field select small" %></div>
      <% else %>
      <div><%= @subscription.deposit_type if @subscription %></div>
      <% end %>
    </li>

    <div class="grid_6">If by check, please mail it promptly to:
      <pre class="farm_address"><%= @farm.address %></pre>We must receive your $100 pre-payment no later than 4 days before your first order.</div>
  <div class="grid_6">
    You can pay using PayPal by <%= link_to "clicking here", @farm.paypal_link, :target => "_blank" %>.
  </div>
    <% end %>

    <li>
      <label>Alternate email</label>
      <div><%= f.text_field :alternate_email, :class => "field text medium"  %></div>
    </li>

    <li>
      <label>Phone number</label>
      <div><%= f.text_field :phone_number, :class => "field text medium"  %></div>
    </li>

    <li>
      <label>Address</label>
      <div><%= f.text_area :address, :size => "30x3", :class => "field textarea small" %></div>
    </li>

    <% if @farm.request_referral %>
    <li>
      <label>How did you hear about the CSA?  If you were referred by a member please tell us their name (for our rewards program).</label>
      <div><%= text_field_tag :referral, nil, :class => "field text medium"  %></div>
    </li>
    <% end %>

    <% if current_user && current_user.has_role?(:admin) && @subscription %>
    <h4>Admin use</h4>

    <li>
      <label>Deposit Paid?</label>
      <div><%= check_box_tag :deposit_received, true, @subscription.deposit_received %></div>
    </li>

    <li>
      <label>Joined Mailing List?</label>
      <div><%= check_box_tag :joined_mailing_list, true, @subscription.joined_mailing_list %></div>
    </li>

    <li>
      <label>Member Pending?</label>
      <div><%= check_box_tag :pending, true, @subscription.pending %></div>
    </li>

    <li>
      <label>Joined on:</label>
      <div><%= f.date_select :joined_on %></div>
    </li>
    <li>
      <label>Private notes (only admins see):</label>
      <div><%= text_area :private_notes, :value => @subscription.private_notes %></div>
    </li>
    <% end %>

    <li>
      <%= f.submit 'Submit', :class => "btTxt submit" %>      
    </li>


  </ul>




<% end %>