<div id="" class="nav grid_12">
    <%= link_to "< Back to Farm", @farm %>
    <div class="nav_divider"/>
</div>

<div id="" class="grid_12 alpha">

  <p style="color: green"><%= flash[:notice] %></p>

  <h1>Listing members</h1>
  <h4><%= link_to '(New member)', new_member_path(:farm_id => @farm.id) %></h4>  
  <table class="simple">
    <tr>
      <th>Last name</th>
      <th>First name</th>
      <th>Neighborhood</th>
      <th>Email address</th>
      <th>Alternate email</th>
      <th>Phone number</th>
      <th>Address</th>
      <th>Joined on</th>
      <th>Balance</th>
    </tr>

  <% @members.each do |member| %>
    <tr>
      <td><%=h member.last_name %></td>
      <td><%=h member.first_name %></td>
      <td><%=h member.neighborhood %></td>
      <td><%=h member.email_address %></td>
      <td><%=h member.alternate_email %></td>
      <td><%=h member.phone_number %></td>
      <td><%=h member.address %></td>
      <td><%=h member.joined_on %></td>
      <td><%= link_to member.balance_for_farm(@farm), transactions_path(:farm_id => @farm.id, :member_id => member.id) %></td>
      <td><%= link_to 'Show', member_path(member, :farm_id => @farm.id) %></td>
      <td><%= link_to 'Edit', edit_member_path(member, :farm_id => @farm.id) %></td>
      <td><%= link_to 'Delete', {:action => "destroy", :id => member.id, :farm_id => @farm.id}, :confirm => 'Are you sure?', :method => :delete %></td>
      <td><%= link_to 'Add Transaction', new_transaction_path(:farm_id => @farm.id, :member_id => member.id)%></td>
    </tr>
  <% end %>
  </table>

</div>