<div id="" class="grid_8 ">
  <h2 id="page-heading"><%= @farm.name %> CSA Signup</h2>

<p style="color: green"><%= flash[:notice] %></p>

<%= @new_member_template.render if @new_member_template %>

<%= render :partial => 'member_form', :locals => {:button_label => 'Create'} %>


<% if current_user.respond_to?('has_role?') && current_user.has_role?(:admin) %>
  <%= link_to 'Cancel', members_path(:farm_id => @farm.id) %>
<% end %>
</div>