<div id="grid_12">
  <h2 id="page-heading">Member Details: <%= "#{@member.last_name}, #{@member.first_name}"%></h2>
</div>

<div id="" class="grid_12">

  <p style="color: green"><%= flash[:notice] %></p>

  <h4>Account Balance: <%= number_to_currency @subscription.current_balance %></h4>

  <ul class="menu">
    <li><%= link_to "View Balance Details", transactions_path(:farm_id => @farm.id, :member_id => @member.id)%></li>
    <li><%= link_to "Edit Member Information", edit_member_path(@member, :farm_id => @farm.id) %></li>
  </ul>


  <div class="block grid_8 alpha">
    <h4>Member Details:</h4>
    <table>
      <tr>
        <th>Name:</th>
        <td><%= "#{@member.first_name}, #{@member.last_name}"%></td>
      </tr>
      <tr>
        <th>Email Address:</th>
        <td><%= "#{@member.email_address}"%></td>
      </tr>
      <tr>
        <th>Alternate Email Address:</th>
        <td><%= "#{@member.alternate_email}"%></td>
      </tr>
      <tr>
        <th>Phone Number:</th>
        <td><%= "#{@member.phone_number}"%></td>
      </tr>
      <tr>
        <th>Neighborhood:</th>
        <td><%= "#{@member.neighborhood}"%></td>
      </tr>
      <tr>
        <th>Address:</th>
        <td><%= "#{@member.address}"%></td>
      </tr>
      <tr>
        <th>Notes:</th>
        <td><%= "#{@member.notes}"%></td>
      </tr>
      <tr>
        <th>Deposit Type:</th>
        <td><%= @subscription.deposit_type %></td>
      </tr>
      <tr>
        <th>Deposit Received?</th>
        <td><%= @subscription.deposit_received %></td>
      </tr>
      <tr>
        <th>Joined mailing list?</th>
        <td><%= @subscription.joined_mailing_list %></td>
      </tr>
      <tr>
        <th>Member Pending?</th>
        <td><%= @subscription.pending %></td>
      </tr>
      <tr>
        <th>Referred by?</th>
        <td><%= @subscription.referral %></td>
      </tr>
    </table>
  </div>
  <div class="clear"></div>

  <h4>Order History:</h4>
  <table>
    <tr class="hed">
      <th>ID</th>
      <th>Delivery</th>
      <th>Date</th>
      <th>delivery Status</th>
      <th>Actual Total</th>
    </tr>
    <% @member.orders.each do |order| %>
      <tr>
        <td><%= link_to order.id, order_path(order, :farm_id => @farm.id) %></td>
        <td><%= link_to order.delivery.name, delivery_path(order.delivery, :farm_id => @farm.id) %></td>
        <td><%= order.delivery.date %></td>
        <td><%= order.delivery.status %></td>
        <td><%= number_to_currency order.finalized_total %></td>
      </tr>
    <% end %>
  </table>

</div>

